<br>
<div class="row">
    <div class="col-md-2">
        <img class="img-circle" style="width:100%" src="{{profile.picture}}">
     </div>
     <div class="col-md-10">
         <h1>{{profile.nickname}}'s profile</h1>
         <p>Name : {{profile.name}}</p>
         <p>Gender: {{profile.gender}}</p>
         <p>Registeration Date : {{profile.created_at}}</p>

     </div>    
</div>
<br>
 <section class="jumbotron text-center">
      <div class="album text-muted">
            <div  class="col-md-4" *ngFor="let img of images "  >
              <img data-src="{{img.img_data}}" alt="Card image cap">

              <div class="card-text">
                  <div class="media-heading">{{img.img_date}}</div>
              </div>
              <ul>
                
               <li><button class="btn-danger" type="submit" (click)="remove(img._id)">Remove image </button></li>
              </ul>
                    
      </div>
      </div>
    </section>






